<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <rewrite>
        <rules>
            
            <rule name="Url Amigable">
                <match url="^([-a-zA-Z0-9_/]+)$" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="sistemly.php?pagina={R:1}" appendQueryString="true" />
            </rule>
        </rules>
    </rewrite>       
</system.webServer>
</configuration>